.my-orders .order-container {
    margin-bottom: 64px;
}

.my-orders .order-header {
    background: #F6F6F6;
    border: 1px solid #DDDDDD;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-orders .order-products {
    background: white;
    border: 1px solid #DDDDDD;
    border-top: none;
    padding: 14px;
}

.my-orders .order-header-items {
    display: flex;
}

.my-orders .order-header-items div {
    margin-right: 14px;
}

.my-orders .order-product-item {
    display: inline-flex;
    margin: 20px 0;
}

.my-orders .order-product-item img {
    max-width: 140px;
    margin-right: 24px;
}
